@import "tailwindcss";

.PopUp{ 
  background-color: #3b6074;
 padding: 20px;
 border-radius: 10px;

}
.PopUpBackground{
background-color: #171717b5;
width: 100vw;
height: 100vh;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
text-align: center;

}
.form{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 10px;
  flex-direction: column;
  gap: 10px;
}
.maindiv { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #7080be;
  margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
border-radius: 10px;
padding: 20px;
height: 200px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #53629E;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
input{ 
  border: 2px solid white;
  border-radius: 8px;
}
button{ 
  background-color:black;
  padding: 15px;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
transition: 400ms;
}
button:hover {
  background-color: #87BAC3;
}
input::placeholder {
  text-align: center; /* or center, or left */  
}
input {
  width: 200px; /* Sets a fixed width for the input */
  height: 40px; /* Sets a fixed height for the input */
  font-size: 16px; /* Sets the font size of the text within the input */
}